<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/fragments/fragment :: headFragment"></th:block>
<script type="text/javascript" th:inline="javascript">
	function boardDelete() {
		if(window.confirm("정말 삭제하시겠습니까?")) {
			location.href = ("/boardDelete/" + [[${board.idx}]]);					
		}
	}
	function flagValueChange(element){
		element.value = (element.value == "Y" ? "N" : "Y");
		console.log("element : "+element.value);
	}
</script>
<body>
<th:block th:replace="/fragments/fragment :: headerFragment"></th:block>

<main>	
	<div>Board Update</div>
	<form method="POST" action="/boardUpdate">
		<input type="hidden" th:value="${board.idx}" name="idx">
		<input type="hidden" th:value="${board.boardLike}" name="boardLike">
		<input type="hidden" th:value="${board.createDate}" name="createDate">

		<div>title<input type="text" name="title" th:value="${board.title}"></div>
		<div>descript<input type="text" name="descript" th:value="${board.descript}"></div>
		<div>
			pageLink
			<input type="text" name="pageLink" th:value="${board.pageLink}">
			<input type="checkbox" name="isPage" th:value="${board.isPage}"
				th:checked="${board.isPage == 'Y'}"
				onclick="flagValueChange(this)">
		</div>
		<div>
			videoLink
			<input type="text" name="videoLink" th:value="${board.videoLink}">
		</div>
		<div>
			비공개 여부
			<input type="checkbox" name="isBoard" th:value="${board.isBoard}"
				th:checked="${board.isBoard == 'Y'}"
				onclick="flagValueChange(this)">
		</div>
		<div>
			<input type="submit" value="수정">
			<input type="button" value="삭제" id="DeleteBtn" onclick='boardDelete()'>
		</div>
	</form>
</main>

<th:block th:replace="/fragments/fragment :: footerFragment"></th:block>
</body>
</html>