<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Board Write</title>
<style>
	.slideCheckBox {
		display:block;
		border: solid #efefef;
		width: 60px;
		border-radius: 50px;
		background-color: #efefef;
	}
	.slideCheckBtn {
		border-radius: 50%;
		width: 35%;
		margin: 1px;
		background-color: #fafafa;
	}
</style>
<script>
	
</script>
</head>
<body>
	<div>Board Write</div>
	<form method="POST" action="/boardWrite">
		<div>title<input type="text" name="title"></div>
		<div>descript<input type="text" name="descript"></div>
		<div>
			pageLink
			<input type="text" name="pageLink">
			<input type="checkbox" name="isPage" value="Y">
			<span class="slideCheckBox">
				<div class="slideCheckBtn" id="isPage" value="N">&nbsp;</div>
			</span>
		</div>
		<div>videoLink
			<input type="text" name="videoLink">
			<input type="checkbox" name="isBoard" value="Y">
		</div>
		<div><input type="submit" value="Create"></div>
	</form>
	
	<a href="/myPage">HOME</a>
</body>
</html>