<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/fragments/fragment :: headFragment"></th:block>
<style>
	.slideCheckBox {
		display:block;
		border: solid #efefef;
		width: 60px;
		border-radius: 50px;
		background-color: #efefef;
	}
	.slideCheckBtn {
		border-radius: 50%;
		width: 35%;
		margin: 1px;
		background-color: #fafafa;
	}
</style>
<script>
	function flagValueChange(element){
		element.value = (element.value == "Y" ? "N" : "Y");
	}
</script>
<body>
<th:block th:replace="/fragments/fragment :: headerFragment"></th:block>

<main>
	<div>Board Write</div>
	<form method="POST" action="/boardWrite">
		<div>title<input type="text" name="title"></div>
		<div>descript<input type="text" name="descript"></div>
		<div>
			pageLink
			<input type="text" name="pageLink">
			<input type="checkbox" name="isPage" value="N" onclick="flagValueChange(this)">
		</div>
		<div>videoLink
			<input type="text" name="videoLink">
			<input type="checkbox" name="isBoard" value="N" onclick="flagValueChange(this)">
		</div>
		<div><input type="submit" value="Create"></div>
	</form>
	
	<a href="/myPage">HOME</a>
</main>

<th:block th:replace="/fragments/fragment :: footerFragment"></th:block>
</body>
</html>