<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/fragments/fragment :: headFragment"></th:block>
<style>
	#boardLikeBtn {
		border : solid;
	}
</style>
<script th:inline="javascript">
	function boardLikeClick() {
		var url = "/boardLike";
		var data = { 'idx' : [[${board.idx}]] };
		fetch(url, {
			method : 'POST',
			headers : { 'Content-Type' : 'application/json' },
			body : JSON.stringify(data)
		})
		.then(data => { return data.json(); })
		.then(json => {
			var message = json.message;
			if(message != "" && message != null) alert(message);
			else document.getElementById('boardLikeBtn').innerHTML = json.boardLikeCnt;
		})
	}
</script>
<body>
<th:block th:replace="/fragments/fragment :: headerFragment"></th:block>

<main>
	<h1>read!</h1>
	
	<div>
		<div th:text="${board.title}"></div>
		<div th:text="${board.createDate}"></div>
		<div th:text="${board.descript}"></div>
		<th:block th:if="${board.isPage}==Y"><div>PAGE <a th:href="${board.pageLink}">Link</a></div></th:block>
		<div>YOUTUBE 
			<iframe width="560" height="315" th:src="${board.videoLink}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div id="boardLikeBtn" th:text="${board.boardLike}" onclick="boardLikeClick()"></div>
	</div>
</main>

<th:block th:replace="/fragments/fragment :: footerFragment"></th:block>
</body>
</html>