<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Read</title>
<style>
	#boardLikeBtn {
		border : solid;
	}
</style>
<script th:inline="javascript">
	function boardLikeClick() {
		var url = "/boardLike";
		var data = { 'idx' : [[${board.idx}]] };
		fetch(url, {
			method : 'POST',
			headers : { 'Content-Type' : 'application/json' },
			body : JSON.stringify(data)
		})
		.then(data => { return data.json(); })
		.then(json => {
			var message = json.message;
			if(message != "" && message != null) alert(message);
			else document.getElementById('boardLikeBtn').innerHTML = json.boardLikeCnt;
		})
	}
</script>
</head>
<body>

<h1>read!</h1>

<div>
	<div th:text="${board.title}"></div>
	<div th:text="${board.createDate}"></div>
	<div th:text="${board.descript}"></div>
	<div>PAGE <a th:href="${board.pageLink}">Link</a></div>
	<div>YOUTUBE <a th:href="${board.videoLink}">Link</a></div>
	<div id="boardLikeBtn" th:text="${board.boardLike}" onclick="boardLikeClick()"></div>
</div>

<a href="/">HOME</a>

</body>
</html>