<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>login</title>
<script type="text/javascript" th:inline="javascript">
	loginFailCheck();
	
	function loginFailCheck() {
		const message = [[${message}]];
		if(message) {
			alert(message);
		}
	}
	function loginInputCheck() {
		const inputId = document.getElementById('id').value;
		const inputPw = document.getElementById('pw').value;
		if(!inputId) { alert('아이디를 입력해주세요!'); return; }
		if(!inputPw) { alert('비밀번호를 입력해주세요!'); return; }
		login(inputId, inputPw);
	}
	function login(id, pw) {
		var url = "/login";
		var data = { id : id, pw : pw };
		
		fetch(url ,{
			method : 'POST', 
			headers : { 
		        'Content-Type': 'application/json',
	       	},
			body : JSON.stringify(data)
		})
	}
</script>
</head>
<body>
	<input type="text" id="id" name="id">
	<input type="text" id="pw" name="pw">
	<button onclick="loginInputCheck()">Login</button>
</body>
</html>