<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/fragments/fragment :: headFragment"></th:block>
<script type="text/javascript" th:inline="javascript">
	function loginInputCheck() {
		const inputId = document.getElementById('id').value;
		const inputPw = document.getElementById('pw').value;
		if(!inputId) { alert('아이디를 입력해주세요.'); return; }
		if(!inputPw) { alert('비밀번호를 입력해주세요.'); return; }
		login(inputId, inputPw);
	}
	function login(id, pw) {
		var url = "/login";
		var data = { id : id, pw : pw };
		
		fetch(url ,{
			method : 'POST', 
			headers : { 
		        'Content-Type': 'application/json',
	       	},
			body : JSON.stringify(data)
		})
		.then( data => { return data.json(); })
	  	.then( json => {
 	   		pageRedirect(json.path);
	  	});
	}
	function pageRedirect(path) {
		console.log("page : "+path);
		if(path == "") alert('아이디 또는 비밀번호를 확인해주세요.')
		else location.href = path;
	}
</script>
<body>
<th:block th:replace="/fragments/fragment :: headerFragment"></th:block>

<main>	
	<input type="text" id="id" name="id">
	<input type="text" id="pw" name="pw">
	<button onclick="loginInputCheck()">Login</button>
</main>

<th:block th:replace="/fragments/fragment :: footerFragment"></th:block>
</body>
</html>