<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/fragments/fragment :: headFragment"></th:block>
<body>
<th:block th:replace="/fragments/fragment :: headerFragment"></th:block>

<main>	
	<a href="/boardWrite">Board Create</a>
	<span th:each="board : ${boardList}">
		<a th:href="|/boardRead/${board.idx}|">
			<div th:text="${board.title}"></div>
			<div th:text="${board.isBoard}"></div>
			<div th:text="${board.isPage}"></div>
			<div th:text="${board.createDate}"></div>
		</a>
	</span>
</main>

<th:block th:replace="/fragments/fragment :: footerFragment"></th:block>
</body>
</html>